.place-card {
  background-color: #fff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 16px; 
}

.place-card:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
}

.chip {
    margin: '5px 5px 5px 0'
}

.subtitle {
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'space-between',
    marginTop: '10px'
}

.spacing {
    display: 'flex',
    alignItems: 'center',
    justifyContent: 'space-between'
}
